<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>详细计费说明</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.css">
    <style>
        * { padding:0; margin:0; }
        body{font-size: 14px;line-height: 1.5; background-color: #fafafa; max-width: 600px; margin:0 auto;}
        li { list-style-type: none; }
        .swiper-container { background-color: #fff; width: 100%; height: 180px; overflow: hidden;}
        .swiper-wrapper , .swiper-slide { width: 100%; height: 100%; overflow: hidden;}
        .swiper-slide img { display: block; width: 70%; height: auto; margin:10% 0 0 15%; max-width: 262px;}
        .swiper-slide div.title { text-align: center; padding-top: 10px; color: #646464; font-size: 12px;}
        .swiper-slide div.title span { color: #323232; font-size: 16px; padding-right: 10px; }
        .swiper-wrapper { width: 999999px; }
        .swiper-wrapper img { transition:all 0.3s linear;]
        .swiper-slide { float: left; }
        }
        .swiper-button-next, .swiper-button-prev { background-size: 10px 20px; }

        .content { padding: 0 8%; width: 84%;}
        .content h1 { padding: 20px 0 17px; text-align: center; height: 24px; line-height: 24px; font-size: 17px; }
        .content dl {}
        .content span { float: right; }
        .content dt { color: #222; height: 18px; line-height: 18px;}
        .content dt.padding , .content dd.padding { padding-bottom: 15px; }
        .content dt.other { position: relative; text-align: center;}
        .content dt.other span { color:#888; float: none; background-color: #fafafa; padding: 0 5%; }
        .content dt.other hr { position: absolute; width: 85%; left: 7.5%; top: 23.5px; z-index: -1; overflow: hidden;}

        .content dd { color: #888; font-size: 12px; min-height: 12px; line-height: 12px; padding-top: 5px; padding-left: 6px; font-family: monospace;}
        .content dd.cont { padding-left: 0; line-height: 16px;}
        .content dd.cont.min { padding-bottom: 3px; }
        .content dd.cont.max { padding-bottom: 60px; }
        .content dt.cont.padding{ padding: 15px 0 6px 0; }
        .content dt.other.padding { padding: 15px 0; }

        .swiper-container { padding-top: 50px; }

        .swiper-container h2 { width: 50%; text-align: center; position: absolute; top: 25px; left:25%;border:1px #C8C8C8 solid; border-radius: 4px; height: 36px; line-height: 36px; z-index: 10; font-size:14px; font-weight: normal;}

        .swiper-button-prev, .swiper-button-next { top: 60%; }

        #app {}
        .tab { width: 50%; position: absolute; top: 25px; left: 25%; overflow: hidden; z-index: 10;}
        .tab div { width: 49%; float: left; text-align: center; background: #fff; color: #888; height: 36px; line-height: 36px;  border:1px #C8C8C8 solid; border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
        .tab div:nth-child(2) { border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-left:none; border-top-left-radius: 0px; border-bottom-left-radius: 0px;}
        .tab div.hover { background: #f5f5f5; color: #323232; }

        .message , .wait{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 10; background-color: #fff; z-index: 99999}

        .wait { background-color: #eee; transition:opacity .3s linear;}
        .wait img {display: block; margin: 60% auto; width: 20%; height: auto;}

        .newLife { position: absolute; top:0; left:0; width:100%; z-index: 9999;}
    </style>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js'></script>
    <script type="text/javascript" src='https://cdn.bootcss.com/vue/2.5.16/vue.min.js'></script>
</head>
<body>
<div class="wait"></div>
<div class="box" id='app'>
    <div class="newLife" v-if="product!='rm'">
        <div class="tab">
            <div class='hover'>{{ title1 }}</div>
            <div>{{ title2 }}</div>
        </div>
    </div>
    <div class="swiper-container">
        <div v-if="product=='rm'">
            <h2>{{ lineNmae }}</h2>
        </div>
        <div class="swiper-wrapper"></div>
        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev swiper-button-black"></div>
        <div class="swiper-button-next swiper-button-black"></div>
    </div>

    <div class="content" id='content'>
        <dl>
            
            <template v-if="product!='jsj'">
                <dt class="cont padding" v-if="product=='asap'"><span>{{ starting_fare }}元</span>起步费</dt>
                <template v-if="product!='asap'">
                    <dt><span>{{ min_fee }}元(包含{{ distance }}公里 {{ time_length }})</span>最低消费</dt>
                </template>

                <template v-if="product=='asap'">
                    <dt><span>{{ min_fee }}元</span>最低消费</dt>
                </template>

                <template v-if="is_segment=='0'">
                    <dt class="cont padding"><span>{{ fee_per_kilometer }}元/公里</span>{{ cont1 }}</dt>

                    <dt class="cont padding"><span>{{ fee_per_minute }}元/分钟</span>{{ cont2 }}</dt>

                    <dt class="cont padding"><span>{{ fee_per_deadhead_kilometer }}元/公里</span>长途附加费</dt>
                    <dd class="cont min">超出{{ free_long_distance_kilometer }}公里后，加收长途服务费用。</dd>
                </template>

                <template v-if="is_segment=='1'">
                    <dt class="cont padding" v-if="count_join1"><span>{{fee_per_kilometer}}元/公里</span>{{ cont1 }}</dt>
                    <div v-if="!count_join1">
                        <dt class="cont padding">{{ cont1 }}(分时段)</dt>
                        <dd><span>{{ fee_per_kilometer }}元/公里</span>{{ p }}</dd>
                        <div v-for="list in listKli">
                            <dd><span>{{ list['kliPrice'] }}元/公里</span>{{ list['kliTime'] }}</dd>
                        </div>
                    </div>

                    <dt class="cont padding" v-if="count_join2"><span>{{fee_per_minute}}元/分钟</span>{{ cont2 }}</dt>
                    <div v-if="!count_join2">
                        <dt class="cont padding">{{ cont2 }}(分时段)</dt>
                        <dd><span>{{ fee_per_minute }}元/分钟</span>{{ p }}</dd>
                        <div v-for="list in listLong">
                            <dd><span>{{ list['kliPrice'] }}元/分钟</span>{{ list['kliTime'] }}</dd>
                        </div>
                    </div>

                    <dt class="cont padding" v-if="count_join3"><span>{{fee_per_deadhead_kilometer}}元/公里</span>长途附加费</dt>
                    <dd class="cont min" v-if="count_join3">超出{{ free_long_distance_kilometer }}公里后，加收长途服务费用。</dd>
                    <div v-if="!count_join3">
                        <dt class="cont padding">长途附加费{{ t }}(分时段)</dt>
                        <dd class="cont min">超出{{ free_long_distance_kilometer }}公里后，加收长途服务费用。</dd>
                        <dd><span>{{ fee_per_deadhead_kilometer }}元/公里</span>{{ p }}</dd>
                        <div v-for="list in listDeadhead">
                            <dd><span>{{ list['kliPrice'] }}元/公里</span>{{ list['kliTime'] }}</dd>
                        </div>
                    </div>
                </template>

            </template>

            <template v-if="product=='jsj'">
                <div v-for="list in jsj">
                    <h1>{{ list['h2'] }}</h1>

                    <dt><span>{{ list.min_fee }}元(包含{{ list.distance }}公里 {{ list.time_length }})</span>最低消费</dt>
                    
                    <template v-if="is_segment=='0'">
                        <dt class="cont padding"><span>{{ list.fee_per_kilometer }}元/公里</span>{{ cont1 }}</dt>

                        <dt class="cont padding"><span>{{ list.fee_per_minute }}元/分钟</span>{{ cont2 }}</dt>

                        <dt class="cont padding"><span>{{ list.fee_per_deadhead_kilometer }}元/公里</span>长途附加费</dt>
                        <dd class="cont min">超出{{ list.free_long_distance_kilometer }}公里后，加收长途服务费用。</dd>
                    </template>

                    <template v-if="is_segment=='1'">
                        <dt class="cont padding">{{ cont1 }}(分时段)</dt>
                        <dd><span>{{ list.fee_per_kilometer }}元/公里</span>{{ p }}</dd>
                        <div v-for="list in listKli">
                            <dd><span>{{ list.list['kliPrice'] }}元/公里</span>{{ list['kliTime'] }}</dd>
                        </div>

                        <dt class="cont padding">{{ cont2 }}(分时段)</dt>
                        <dd><span>{{ list.fee_per_minute }}元/分钟</span>{{ p }}</dd>
                        <div v-for="list in listLong">
                            <dd><span>{{ list['kliPrice'] }}元/分钟</span>{{ list['kliTime'] }}</dd>
                        </div>

                        <dt class="cont padding">长途附加费{{ t }}(分时段)</dt>
                        <dd class="cont min">超出{{ free_long_distance_kilometer }}公里后，加收长途服务费用。</dd>
                        <dd><span>{{ list['fee_per_deadhead_kilometer'] }}元/公里</span>{{ p }}</dd>
                        <div v-for="list in listDeadhead">
                            <dd><span>{{ list['kliPrice'] }}元/公里</span>{{ list['kliTime'] }}</dd>
                        </div>

                    </template>

                </div>
            </template>

            <dt class="other padding"><hr/><span>其他费用</span></dt>

            <dt>议价费用</dt>
            <dd class="cont padding">根据用车需求的不同时段，乘客可以选择对该订单进行加价或减价，在用车高峰时段或者遇到特殊天气，司机较少，对订单加价，鼓励司机更快接单；在非高峰期时段，司机较多，对订单减价，节约乘客的出行成本。</dd>

            <dt>高速费</dt>
            <dd class="cont padding">在高速公路（包括机场高速）行驶所产生的费用，由各地高速路管理部门收取。</dd>

            <dt>停车费</dt>
            <dd class="cont padding">司机按约定时间到达后因等待乘客上车而产生的泊车费用，按实际发生费用收取。</dd>

            <template v-if="is_segment=='0'">
                <dt class="cont ">夜间服务费</dt>
                <dd class="cont padding">23:00至次日5:00之间的用车，需要收取夜间服务费，易达车型0.5元/分钟、舒适、商务、豪华1元/分钟。</dd>
            </template>

            <dt>超时费用</dt>
            <dd class="cont padding">除海口、三亚、厦门以外的城市，时租服务超出30分钟、接送机、日租、半日租服务超出套餐部分时长，则按照实际用车时长加收超时费用。</dd>

            <dt>取消订单费用</dt>
            <dd class="cont max">日租、半日租订单，距服务开始1小时之前（包括1小时）取消订单，不收取任何费用；距服务开始1小时之内取消订单，需要支付套餐全额。
                时租、接送机订单（填写航班号除外）、接送站订单，下单后，司机到达后按约定时间免费等待10分钟；接机服务中，填写航班信息的订单，将按照飞机抵达时间为准，如遇飞机延误情况，司机将免费等待至飞机抵达
                若用户在10分钟内未用车且未主动取消订单，司机与客服都无法联系到乘客的情况下，订单将会被强制取消，并扣取起步价金额，未绑卡的用户或余额不足的用户将会被冻结，待充值或验证信用卡补足欠款后，自动解冻。</dd>
            
            <!--<dt>价格上浮</dt>
            <dd class="cont max">在高峰时段或特殊情景如大风情况下，周围服务司机较少，或司机距您较远，为促成交易，鼓励司机更快接单，平台会对订单适当加价，保障您的出行。</dd>-->
        </dl>
    </div>
</div>
<script>

    var city = location.hash.slice(1).split('_')[0];
    var product = location.hash.slice(1).split('_')[1];
    var carId = location.hash.slice(1).split('_')[2];
    if(product == "rm") {
        var fixed_id = location.hash.slice(1).split('_')[2]
        if(!fixed_id) { product = "sz"}
        var carId = location.hash.slice(1).split('_')[3];
    }
    /*city = 'bj';
    product = 'rz'
    fixed_id = '70'*/
    //url = 'https://h5.yongche.com/ajax/Valuation/getFeeByCity';
    url = 'https://testing-h5.yongche.Org/ajax/Valuation/getFeeByCity';

    if(carId == 79) {
        carId = 37;
    } else if(carId == 80) {
        carId = 2;
    }

    $.ajax({
        dataType:'jsonp',
        type: 'post',
        url:url,
        data: {city:city,product:product,fixed_id:fixed_id,is_sort:1},
    }).success(function(data){

        if(product == "asap"||product == "yy") {
            for(var i in data.result){
                data.result[i].price['default'].forEach(function(e,index) {
                    if(e['78']){
                        data.result[i].price['default'].splice(index,1);
                        return;
                    }
                });
            }
        }
        if(product == "asap") {

        }
        console.log(data.result)
        if(!!!data.result) {
            alert('系统错误，请稍后再试');
            return false;
        }
        var carTypeJson = {
            asap : {
                title : '马上用车,预约用车',
                cont : '里程费,时长费',
                carTypeIndex : [17,1]

            },
            jsj : {
                title : '接机,送机',
                cont : '超出套餐里程费,超出套餐时长费',
                carTypeIndex : [7,8]
            },
            rz : {
                title : '日租,半日租',
                cont : '超出套餐里程费,超出套餐时长费',
                carTypeIndex : [12,11]
            },
            rm : {
                title : '',
                cont : '超出套餐里程费,超出套餐时长费',
                carTypeIndex : 0
            }
        }

        var MineIndex = 0;
        var jsjMax = [0,0];
        var jsjIndex = [];
        var vueCarType = "";

        if(product == 'asap' || product == 'yy' || product == 'sz') {
            product = 'asap'
        } else if(product == 'jsj' || product == 'sj' || product == 'jj') {
            product = 'jsj'
        } else if(product == 'rz' || product == 'qrz' || product == 'brz') {
            product = 'rz'
        } else if(product == 'rm') {
            
        }

        if(data.code == 200) {
            $('.wait').fadeOut(800)
            if(product == 'jsj') {
                vueData = data.result[carTypeJson[product]['carTypeIndex'][0]];
                for(var i in vueData) {
                    var ix = 0;
                    for(var j in vueData[i]['price']) { ix++;}
                    if(jsjMax[0] < ix) { jsjMax[0] = ix; jsjMax[1] = i;} 
                }
                for(var i in vueData) {
                    if(i == jsjMax[1])
                    for(var j in vueData[i]['price']) {jsjIndex.push(j);}
                }
            } else if(product == 'rm') {
                for(var i in data.result) {
                    vueData = data.result[i].price;
                    rmName =  data.result[i].name;
                }
            } else if(product == 'asap'){
                vueData = data.result[carTypeJson[product]['carTypeIndex'][0]]['price'].default;
            }else {
                vueData = data.result[carTypeJson[product]['carTypeIndex'][0]]['price'];
            }

            if(product == 'jsj') {
                for(var i in vueData[jsjMax[1]]['price'][jsjIndex[0]]) {
                    vueCarType = vueData[jsjMax[1]]['price'][jsjIndex[0]][i];
                }
                makeswipter(vueData[jsjMax[1]]['price']);
            } else {

                for(var i in vueData) {
                    for(var j in vueData[i]) {
                        if(carId) {
                            if(j == carId) {
                               vueCarType = vueData[i][carId];
                            }
                        } else {
                            if(i == 0) {vueCarType = vueData[i][j]}
                        }
                    }
                }
                makeswipter(vueData)
            }

            var carCont = new Vue({
                el: '#app',
                data : {
                    title1 : carTypeJson[product]['title'].split(',')[0],
                    title2 : carTypeJson[product]['title'].split(',')[1],

                    cont1 : carTypeJson[product]['cont'].split(',')[0],
                    cont2 : carTypeJson[product]['cont'].split(',')[1],

                    count_join1 : false,
                    count_join2 : false,
                    count_join3 : false,

                    product : product,
                    name : '',
                    brand_desc : '',
                    is_segment : 0,

                    other : '',

                    lineNmae : '', //热门线路

                    jsj : [], //接送机专享

                    distance : '',
                    time_length : '',

                    p : '普通时段',
                    t : '',

                    starting_fare : vueCarType['starting_fare']/100, //起步价
                    min_fee : vueCarType['min_fee']/100, //最低消费
                    fee_per_kilometer : vueCarType['fee_per_kilometer']/100, //普通时段每公里费用
                    fee_per_minute : vueCarType['fee_per_minute']/100, //普通时段每分钟费用
                    fee_per_deadhead_kilometer : vueCarType['fee_per_deadhead_kilometer']/100, //普通时段长途附加费
                    night_service_fee : vueCarType['night_service_fee']/100,//夜间服务费
                    free_long_distance_kilometer : vueCarType['free_long_distance_kilometer']/1000,

                    listKli : [], //按公里数显示列表
                    listLong : [], //按时间显示列表
                    listDeadhead : [] //长途附加费显示列表
                },
                methods:{
                    joinPrice: function(obj,num,type){
                        var data = JSON.parse(JSON.stringify(obj));
                        var arr = [];
                        var o = true;
                        arr.push(data.splice(0,1)[0]);
                        var _this = this;
                        data.forEach(function(e,i){
                            if(e.kliPrice != arr[0].kliPrice || e.kliPrice != _this[type]){
                                o = false;
                            }
                        });

                        this[num] = o ? true : false;
                    }
                }
            })

            if(!carId) {
                product == 'jsj' ? changContent(vueData) : changContent(vueCarType);
            }

            if(product != 'asap') {
                $('dl dt').eq(0).addClass('cont padding');
            }////////////////////////

            setTimeout(function() {
                mySwiper = new Swiper('.swiper-container', {
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    on: {
                        slideChangeTransitionEnd: function(event){
                            //Swiper初始化了
                            MineIndex = this.activeIndex
                            var j = 0;
                            var vueCarContent;
                            if(product == 'jsj') {
                                MineIndex = MineIndex;
                                vueCarContent = vueData;
                            } else {
                                for(var i in vueData) {
                                    if( j++ == MineIndex) {
                                        for(var x in vueData[i]) {
                                            vueCarContent = vueData[i][x];
                                        }
                                    }
                                }
                                j = 0;
                            }
                            changContent(vueCarContent)
                        },
                        
                    }
                });
            },0)
            setTimeout(function() {
                if(carId) {
                   var index = $("#" + carId).index();
                   if(index == 0) {
                        var j = 0;
                        var vueCarContent;
                        if(product == 'jsj') {
                            MineIndex = MineIndex;
                            vueCarContent = vueData;
                        } else {
                            for(var i in vueData) {
                                if( j++ == MineIndex) {
                                    for(var x in vueData[i]) {
                                        vueCarContent = vueData[i][x];
                                    }
                                }
                            }
                            j = 0;
                        }
                        changContent(vueCarContent)
                   } else {mySwiper.slideTo(index,0)}
                }
            },0)
            $('.tab div').on('touchend',function() {
                $(this).addClass('hover').siblings().removeClass('hover');
                if(product == 'jsj') {
                    vueData = data.result[carTypeJson[product]['carTypeIndex'][$(this).index()]];
                } else if(product == 'asap'){
                    vueData = data.result[carTypeJson[product]['carTypeIndex'][$(this).index()]]['price'].default;
                } else {
                    vueData = data.result[carTypeJson[product]['carTypeIndex'][$(this).index()]]['price'];
                }
                var n = 0;
                for(var i in vueData) {
                    if(n++ == MineIndex) {
                        for(var j in vueData[i]) {
                            vueCarType = vueData[i][j]; 
                        }
                    }
                }
                //MineIndex
                product == 'jsj' ? changContent(vueData) : changContent(vueCarType)
            })

            function changContent(vueCarContent) {
                // var MineIndex
                if(product == 'jsj') {
                    carCont.jsj = [];
                    console.log(vueCarContent)
                    for(var i in vueCarContent) {
                        var nowData = vueCarContent[i].price[jsjIndex[MineIndex]];
                        for(var j in nowData) {
                            nowData = nowData[j][0]
                        }
                        carCont['jsj'].push({
                            h2 : vueCarContent[i]['name'], //赋值机场名字
                            fee_per_minute : nowData['fee_per_minute']/100,
                            starting_fare : nowData['starting_fare']/100,
                            distance : nowData['distance']/1000,
                            fee_per_minute : nowData['fee_per_minute']/100,
                            time_length : showTime2(nowData['time_length']),
                            min_fee : nowData['min_fee']/100, //重新赋值最低消费
                            night_service_fee : nowData['night_service_fee']/100, //重新赋值夜间服务费
                            fee_per_kilometer : nowData['fee_per_kilometer']/100, //重新赋值普通时段每公里费用
                            fee_per_deadhead_kilometer : nowData['fee_per_deadhead_kilometer']/100, //重新赋值普通时段长途附加费
                            free_long_distance_kilometer : nowData['free_long_distance_kilometer']/1000 //长途服务费节点
                        })
                    }
                } else {
                    if(product == 'rm') {
                        carCont.lineNmae = rmName;
                    }
                    changData(vueCarContent[0])

                    //初始化分段值
                    carCont['listKli'] = [];
                    carCont['listlistLongKli'] = [];
                    carCont['listLong'] = [];
                    carCont['listDeadhead'] = [];
                    if(vueCarContent.length != 1) {
                        carCont.is_segment = 1
                        for(var i in vueCarContent) {
                            if(i != 0) {
                                carCont['listKli'].push({'kliPrice':vueCarContent[i]['fee_per_kilometer']/100,'kliTime':showTime(vueCarContent[i]['segment_time_start']) + ' - ' +  showTime(vueCarContent[i]['segment_time_end'])})

                                carCont['listLong'].push({'kliPrice':vueCarContent[i]['fee_per_minute']/100,'kliTime':showTime(vueCarContent[i]['segment_time_start']) + ' - ' +  showTime(vueCarContent[i]['segment_time_end'])})

                                carCont['listDeadhead'].push({'kliPrice':vueCarContent[i]['fee_per_deadhead_kilometer']/100,'kliTime':showTime(vueCarContent[i]['segment_time_start']) + ' - ' +  showTime(vueCarContent[i]['segment_time_end'])})
                            }
                        }
                        if(product == 'asap') {
                            carCont.joinPrice(carCont['listKli'],'count_join1','fee_per_kilometer');
                            carCont.joinPrice(carCont['listLong'],'count_join2','fee_per_minute');
                            carCont.joinPrice(carCont['listDeadhead'],'count_join3','fee_per_deadhead_kilometer');
                        }

                    } else {
                        carCont.is_segment = 0;
                        carCont.p = '普通时段';
                        carCont.t = '';
                    }
                }

                function changData(nowData) {
                    carCont.fee_per_minute = nowData['fee_per_minute']/100;
                    carCont.starting_fare = nowData['starting_fare']/100;
                    carCont.distance =  nowData['distance']/1000;
                    carCont.fee_per_minute = nowData['fee_per_minute']/100
                    carCont.time_length =  showTime2(nowData['time_length']);
                    carCont.min_fee = nowData['min_fee']/100; //重新赋值最低消费
                    carCont.night_service_fee = nowData['night_service_fee']/100; //重新赋值夜间服务费
                    carCont.fee_per_kilometer = nowData['fee_per_kilometer']/100; //重新赋值普通时段每公里费用
                    carCont.fee_per_deadhead_kilometer = nowData['fee_per_deadhead_kilometer']/100; //重新赋值普通时段长途附加费
                    carCont.free_long_distance_kilometer = nowData['free_long_distance_kilometer']/1000;
                }
            }

        } else if(data.code == 500) {
            alert('系统错误，请稍后再试')
        }

    }).error(function(data){
        console.log(data)
    })

    function showTime2(time_length) {
        var h = Math.floor(time_length/60/60);
        var m = Math.floor(time_length/60)%60;
        if(m == 0) {
            str = h + '小时';
        } else {str = h + '小时'+m+'分'}
        return str;
    }

    function showTime(str) {
        return str.substring(0,2) + ':' + str.substring(2,4)
    }

    function carTypeFun(str) {
        var str1 = '' , j = 0;
        for(var i in str.split(',')){
            str1 += str.split(',')[i] + '、';
            if(j++ >= 3) {
                return str1.substring(0,str1.length-1);
            }
        }
        return str;
    }

    function makeswipter(vueData) {
        for(var i in vueData) {
            for(var j in vueData[i]) {
                if(j!=78) {$('.swiper-wrapper').html($('.swiper-wrapper').html() + '<div class="swiper-slide" id="'+ j +'"><img src=https://i2.yongche.name/media/' + vueData[i][j][0].image_id +'><div class="title"><span> '+ vueData[i][j][0].name +' </span>' + vueData[i][j][0].brand_desc +'</div>')}
            }
        }
    }
</script>
</body>
</html>